  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Join our effort on Facebook! </h2>
<div class="fb-page" 
  data-href="https://www.facebook.com/facebook"
  data-width="380" 
  data-hide-cover="false"
  data-show-facepile="false"></div>
              <br><br>
              <a href="https://www.facebook.com/foodrescuesk" class="btn btn-default btn-xl wow tada">Join Now!</a>
          </div>
      </div>
  </aside>
