<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ metadata.call_to_action.title }}</h2>
                <hr class="light">
                <p class="text-faded">{{ metadata.call_to_action.description1}} 
                    </p>
                    <p class="text-faded">{{ metadata.call_to_action.description2}}
                    </p>
{% comment %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AcgSbxgk73g?rel=0" allowfullscreen></iframe>
</div>
{% endcomment %}
<br>
                <a href="#" class="btn btn-default btn-xl">{{ metadata.call_to_action.button}}</a>
            </div>
        </div>
    </div>
</section>
