<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text-faded">We noticed that there are lots of food waste everywhere in Singapore. To do our part in reducing food waste, we have decided to rescue these foods to feed the people instead of going to the bins. Initially, we started by giving out only to our fellow residents at Fernvale Link small amount of vegetables and fruits we rescued. 
                    </p>
                    <p class="text-faded">Over time, as our initiative becomes more popular, more residents all over Sengkang and beyond joined our initiative. Currently, we have expanded our rescued foods to not only fruits and vegetables but breads and cakes as well on a regular basis, and, once in a while, include canned foods and chicken meats.
                        .</p>
                <a href="#" class="btn btn-default btn-xl">Join our efforts</a>
            </div>
        </div>
    </div>
</section>
