<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Food Rescue Sengkang is a young initiative started by a few dedicated individuals who came together to do something about the absurd amount of food being thrown away every day. We love to hear from you and have more people join us on the efforts.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://t.me/foodrescuesengkang">
                <i class="fab fa-telegram-plane fa-5x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Food Rescue SK</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://web.telegram.org/#/im?p=s1230553388_16902368744115895143">
            <i class="far fa-comments fa-5x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Chat Room</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/foodrescuesk/">
            <i class="fas fa-bullhorn fa-5x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Facebook</p>
            </a>
        </div>

    </div>
</section>
