<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img style="margin-bottom: 25px" src="/assets/img/bg_rm_frsk_logo.png">
            <h1>{{ metadata.header.title }}</h1>
            <hr>
            <p>{{ metadata.header.description }}
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{metadata.header.button }}</a>
        </div>
    </div>
</header>
