<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Feed The People, Not The Bins            </h1>
            <hr>
            <p>Our initiative is called Food Rescue @ Sengkang. It is started in May 2019 to reduce food waste in Singapore by rescuing edible foods that are being thrown away, hence, the tagline “feed the people, not the bins”.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
