<!DOCTYPE html>
<html lang="en">

{% include head.liquid %}

<body id="page-top">
  {% include nav.liquid %}
  {% include header.liquid %}
  {% include call-to-action.liquid %}
  {% include services.liquid %}
  {% include portfolio.liquid %}
  {% include aside.liquid %}
  {% include contact.liquid %}
  {% include scripts.liquid %}

</body>

</html>